@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
 
  #notice-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    background: rgba(66, 153, 225, 0.85);
  }

  #alert-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    background: rgba(214, 70, 70, 0.85);
  }
  .notice, .alert {
    padding: 2.5rem 0;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 1px;
  }

  #imagesizer {
    width: 350px;
    height: 350px;
  }

  