<h1>Add a New Board Game</h1>
<br>
<br>
<form action='/games' method="POST">

    <p><label for='name'>Name :</label>
    <input type='text' name='name' id='name'><p>
    <p><label for='name'>Publisher :</label>
    <input type='text' name='publisher' id='publisher'><p>
    <p><label for='name'>Player Count :</label>
    <input type='text' name='player_count' id='player_count'><p>
    <p><label for='name'>Playing Time :</label>
    <input type='text' name='playing_time' id='playing_time'><p>
    <p><label for='name'>Complexity:   </label>
    <input type='radio' name='complexity' id='light' value='Light'>
    <label for="light">Light   </label>
    <input type='radio' name='complexity' id='medium' value='Medium'>
    <label for="mediu">Medium   </label>
    <input type='radio' name='complexity' id='heavy' value='Heavy'>
    <label for="heavy">Heavy</label></p>
    <input type="submit" value="Submit">


</form>