<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Board Game Club Sign Up</h2>

    <div class="content">
        <form action="/signup" method="POST">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
            <input type="submit" value="Sign Up">
        </form>
    </div>

  </div>
</div>
